::ng-deep {
  .p-dialog {
    .p-dialog-header {
      padding-left: 100px;
    }

    .p-button-save {
      background-color: #3cb371;
      margin-right: 30px;
      border: #3cb371;
    }
    .p-button-save:hover {
      background-color: #3cb371;
    }
    .p-button-cancel {
      background-color: gray;
      border: gray;
    }
    .p-button-cancel:hover {
      background-color: gray;
    }

    .p-button-edit {
      margin-right: 30px;
      background-color: #007fd1;
      border: #007fd1;
    }
    .p-button-edit:hover {
      background-color: #007fd1;
    }
  }
}

.form {
  display: flex;
  margin-top: 15px;

  .dropdown-modal-drink {
    padding: 30px;
  }

  .div-dropdown {
    margin-left: 50px;
  }

  .buttons-form {
    display: flex;
    margin-left: 210px;
    margin-top: 30px;
  }

  .div-inputs {
    margin-top: 30px;
    margin-left: 80px;
  }

  .input-name {
    margin-bottom: 10px;
    display: flex;
  }

  .input-number {
    display: block;
    margin-bottom: 10px;
  }

  .input-volume {
    display: block;
  }
}
