@import url("../node_modules/primeicons/primeicons.css");

@import url("primeng/resources/themes/lara-light-blue/theme.css");

@import url("../node_modules/primeng/resources/primeng.min.css");

body {
  background-color: whitesmoke;
  padding:0;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}



